body {
  font-family: "Jost", sans-serif;
}
#temp div {
  background-color: yellow;
  border: 1px solid;
}
#title {
  background-color: #ff4c63;
}
#top h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 1.2;
}
.navbar-brand {
  filter: invert(1);
  font-size: 40px !important ;
  font-family: "Caveat", cursive;
}
.navbar-item {
  padding: 0px 18px;
  font-size: 1.2rem;
}
.Navadjust {
  padding: 0rem 0rem 5.5rem 0rem;
  padding-top: 0px;
}
.container-fluid {
  padding: 62px 146px 78px 106px;
}
#firstpage {
  padding: 46px 20px 67px 87px;
}
.firstpgbtn {
  margin: 2px 5px;
}
#image {
  width: 45%;
  display: relative;
  margin-top: -70px;
  margin-left: 90px;
  transform: rotate(7deg);
  filter: drop-shadow(7px 6px 8px black);
}
@media screen and (max-width: 992px) {
  #image {
    display: none;
  }
}

.demo {
  color: #fff;
  padding-top: 15px;
}

/* next page */
#features {
  padding: 130px 3px;
}
#features h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}
#secondpgicon {
  font-size: 70px;
  padding-bottom: 10px;
  color: hsl(352, 82%, 69%);
}
#secondpgicon:hover {
  color: hsl(352, 75%, 58%);
}

#secondpgicon p {
  color: #8f8f8f;
}

/* testimonials  */

#testimonials {
  padding: 60px 20px 60px 20px;
  text-align: center;
  background-color: hsl(352deg 98% 64%);
  font-family: "Montserrat", sans-serif;
}
#testimonials h2 {
  padding: 10px 30px;
  font-size: 2.5rem;
}
#testimonials {
  color: white;
}
#testimonials-img {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  padding: 20px 20px;
}
#press img {
  padding-top: 20px;
  padding-right: 20px;
  width: 10%;
  filter: drop-shadow(1px 1px 2px black);
}
.carousel-item {
  padding: 10px 50px;
}

.card-deck,
.pricing {
  padding: 60px 20px;
  font-family: "Montserrat", sans-serif;
}
.card-deck li,
.pricing p {
  font-family: "Jost", sans-serif;
}


/* footer section */
.footer-section{
    background-color:  #ff4c63;
    font-family: "Montserrat", sans-serif;
    padding:12% 10px;
    font-size:280%;
}
.footer-section button{
    font-size:1.3rem;
    font-family: "Jost", sans-serif;
    font-weight: bolder;
}
   


#footer{
    text-align:center;
    padding: 30px 10px;
    font-family: "Jost", sans-serif;
}